/* Dashboard */
.dashboard {
    width: 100%;
    position: fixed;
    top: 56px;
    z-index: 2;
}

.address-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-left: 10px;
}

/* Taskboard */
.task-board {
    position: fixed;
    height: 100vh;
    width: 300px;
}

.new-task-btn{
    text-transform: uppercase;
    color: #4c70fe !important;
}

/* Taskcreator*/
.task-creator {
    display: block;
    width: 500px;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: -500px;
    top: 0;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.4s;
}

.task-creator.task-creator-active {
    right: 0;
    transition: all 0.4s;
}

.task-desc {
    font-size: 18px;
}

.task-creator-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 25px;
}

.task-creator-item p {
    margin-top: 0;
    margin-bottom: 12px;
}

.title {
    font-size: 12px;
    text-transform: uppercase;
    color: #b8b8b8;
}

.new-task {
    background-color: #f4f4f4;
}

.icon-img {
    width: 70px;
    height: 70px;
}

.icon-img-active {
    border: 1px solid #4c70fe;
    border-radius: 50px;
}

.icon:hover {
    cursor: pointer;
}

.description textarea {
    width: 100%;
}

.hide {
    height: 0;
    display: none;
}

.show {
    display: block;
    height: auto;
}

.service-name, .task-name, .desc-text {
    text-transform: lowercase;
    font-weight: bold;
}

.task:hover {
    cursor: pointer;
}
.task-active {
    border: 1px solid #4c70fe;
    border-radius: 50px;
}