.dashboard {
    width: 100%;
    position: fixed;
    top: 70px;
    z-index: 2;
    padding-top: 15px;
}

.address-box {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-left: 10px;
}